[Unit]
Description=ApiServer
Documentation=https://github.com/jchen1/api
After=docker.service
Requires=docker.service

[Service]
Environment=HOME=/root
WorkingDirectory=/root/api
ExecStart=docker run --net=host --volume /root/api/apiserver:/app --volume /root/api/.env:/app/.env --workdir /app jeffchen94/api:latest
Restart=always
RestartSec=5
StartLimitIntervalSec=0
RuntimeMaxSec=86400
LimitNOFILE=1048576
LimitNPROC=1048576

[Install]
WantedBy=multi-user.target
